/**my stles for article display**/
body, p {
	font-family: Georgia, "Times New Roman", Times, serif;
}

ol li {
	font-style: italic;
}

.panel {
	margin: 30px 0px;
}

#columns  { 
	height:  600px;  
 	-webkit-column-count: 3;  
	-webkit-column-width: 140px; 
	-webkit-column-gap: 25px; 
}

#viewport { width: 900px; height: 600px; }
#flowedContent, #fixedContent { display: none; }

#article_reader {
	overflow: hidden;
	position: relative;
}

#article_reader.shadow {
	box-shadow: inset 0px 0px 7px #b3b3b3;
}

#controls {
	float: left;	
	width: 100%;
	margin-top: -325px;
	overflow: hidden;
	position: relative;
	height: 50px;
	
	.navigation {
		float: left;
		position: absolute;
		width: 1000px;
		a {
			i {
				font-size: 25px;
				color: #222;
				&:hover {
					color: #666;
					cursor: pointer;
				}
			}

		}
		
	}
	
	ul {
		margin: 0px;
		padding: 0px;
	}
	
	.italic { font-style: italic; }
	
	li {
		list-style: none;
		float: left;
		padding: 5px;
		height: 50px;
		width: 50px;
		background: transparent url(../images/opacity-45.png) repeat 0 0;
		position: absolute;
		
		&.back {
			left: -10%;
		}
		&.forward {
			right: -10%;
		}
		
		a#back {
			background: transparent url(../images/left_arrow.png) no-repeat -4px -4px;
			height: 50px;
			width: 50px;
			display: block;
		}
		
		a#forward {
			background: transparent url(../images/right_arrow.png) no-repeat -3px -5px;
			height: 50px;
			width: 50px;
			display: block;
		}
	}
}

#pages {
	position: absolute;
	width: 1000px;
}
#pagination {
	margin: 0px auto 20px;
	width: 110px;
	margin-top: 0px;
	height: 30px;
	padding: 5px;
	background: transparent url(../images/opacity-45.png) repeat 0 0;
	
	li {
		float: left;	
		list-style: none;
		a {
			height: 2px;
			width: 20px;
			cursor: pointer;
			display: block;
			background-color: #E6E6E6;
			/*border-top: 1px solid #B3B3B3;
						border-bottom: 1px solid #B3B3B3;
						&:first{
							border-left: 1px solid #B3B3B3;
						}
						&:last{
							border-right: 1px solid #B3B3B3;
						}*/
		}
		&.active {
			a {
				background-color: #222;
			}
		}
	}
}

#fixedContent {
	.col-span-2 {
		width: 100%;
		text-align: center;
	}
	figure {
		float: left;
	}
}

#flowedContent {
	float: left;
	margin-top: 20px;
}

#display_options {
	display: inline-block;
	li {
		list-style: none;
		float: left;
		margin-right: 10px;
		height: 20px;
		width: 21px;
		background-color: #ffffff;
		cursor: pointer;
		border: 1px solid #B3B3B3;
		padding: 2px 0px 2px 3px;
		
		&:hover {
			background-color: #E6E6E6;
		}
		&:active {
			box-shadow: inset 0px 0px 3px #999;
			border: 1px solid #7F7F7F;
		}
		&.active {
			box-shadow: inset 0px 0px 3px #999;
			border: 1px solid #7F7F7F;
			
			span {
				background-color: #333;
			}
		}
		
		&.horizontal {
			width: 20px;
			padding-left: 2px;
			span {
				width: 14px;
				display: block;
				float: left;
				margin-bottom: 2px;
				height: 3px;
				background-color: #999999;
				border-radius: 2px;
			}
			
			&.active {
				span {
					background-color: #333;
				}
			}
		}
		&.vertical {
			
			span {
				height: 14px;
				display: block;
				float: left;
				width: 3px;
				margin-right: 2px;
				background-color: #999999;
				border-radius: 2px;
			}
			
			&.active {
				span {
					background-color: #333;
				}
			}
		}
		
	}
}

/**article blocks**/
.art_block {
	float: left;
	width: 450px;
	margin: 30px 0px 20px;
	background-color: #ffffff;
	-moz-transition: background-color 0.2s linear;    /* FF3.7+ */
	  -o-transition: background-color 0.2s linear;      /* Opera 10.5 */
	  -webkit-transition: background-color 0.2s linear; /* Saf3.2+, Chrome */
	  height: 120px;
	  padding: 10px;
	  
	  &:hover {
	  	background-color: #F0F0F0;
	  }
	
	h3 {
		margin: 0px 0px 10px;
	}
	
	p {
		margin-bottom: 0px;
	}
	
	span {
		display: block;
		height: 100px;
		width: 100px;	
	}
	
	&.left {
		margin-right: 100px;
		margin-left: 15px;
		
		img { float: left; padding-right: 15px; }
		
		span {
			background: transparent url(../images/left_arrow-lrg.png) no-repeat 0px 0px;
			float: left;
		}
	}
	&.right {
		text-align: right;
		
		img { float: right; padding-left: 15px; }
		
		span {
			background: transparent url(../images/right_arrow-lrg.png) no-repeat 0px 0px;
			float: right;
		}
	}
}


/**control animation**/
#controls .slide-fromside li.back {
   -webkit-animation: fromleftAnim 0.2s ease-out 0s both;
}
#controls .slide-fromside li.forward {
   -webkit-animation: fromrightAnim 0.2s ease-out 0s both;
}

#controls .slide-fromsideHid li.back {
   -webkit-animation: fromleftAnimHid 0.4s ease-in 0s both;
}
#controls .slide-fromsideHid li.forward {
   -webkit-animation: fromrightAnimHid 0.4s ease-in 0s both;
}



/**from top to bottom animation**/
@-webkit-keyframes fromleftAnim{
    0%{ left: -10%; opacity: 0; }
    100%{ left: 0%; opacity: 1; }
}

@-webkit-keyframes fromrightAnim {
    0%{ right: -10%; opacity: 0; }
    100%{ right: 0%; opacity: 1; }
}

@-webkit-keyframes fromleftAnimHid{
    0%{ left: 0%; opacity: 1; }
    100%{ left: -10%; opacity: 0; }
}

@-webkit-keyframes fromrightAnimHid {
    0%{ right: 0%; opacity: 1; }
    100%{ right: -10%; opacity: 0; }
}