/**my stles for article display**/

.panel {
	margin: 30px 0px;
}

#columns  { 
	height:  600px;  
 	-webkit-column-count: 3;  
	-webkit-column-width: 140px; 
	-webkit-column-gap: 25px; 
}

#viewport { width: 900px; height: 600px; }
#flowedContent, #fixedContent { display: none; }

#article_reader {
	overflow-x: hidden;
}

#controls {
	float: left;	
	width: 100%;
	margin-bottom: 100px;
	margin-top: 0px;
	
	.navigation {
		float: left;
		a {
			i {
				font-size: 25px;
				color: #222;
				&:hover {
					color: #666;
					cursor: pointer;
				}
			}

		}
		
	}
	
	ul {
		margin: 0px;
		padding: 0px;
	}
	
	li {
		list-style: none;
		float: left;
		padding: 5px;
	}

	#pagination {
		float: right;
		margin-top: 10px;
		li {
			a {
				height: 20px;
				width: 20px;
				cursor: pointer;
				background: url(../images/sprite_pagination.png) 0px 0px no-repeat;
				display: block;
			}
			&.active {
				a {
					background: url(../images/sprite_pagination.png) 0px -19px no-repeat;
				}
			}
		}
	}
}