/**my stles for article display**/
/* line 3, ../sass/styles.scss */
.panel {
  margin: 30px 0px;
}

/* line 7, ../sass/styles.scss */
#columns {
  height: 600px;
  -webkit-column-count: 3;
  -webkit-column-width: 140px;
  -webkit-column-gap: 25px;
}

/* line 14, ../sass/styles.scss */
#viewport {
  width: 900px;
  height: 600px;
}

/* line 15, ../sass/styles.scss */
#flowedContent, #fixedContent {
  display: none;
}

/* line 17, ../sass/styles.scss */
#article_reader {
  overflow-x: hidden;
}

/* line 21, ../sass/styles.scss */
#controls {
  float: left;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 0px;
}
/* line 27, ../sass/styles.scss */
#controls .navigation {
  float: left;
}
/* line 30, ../sass/styles.scss */
#controls .navigation a i {
  font-size: 25px;
  color: #222;
}
/* line 33, ../sass/styles.scss */
#controls .navigation a i:hover {
  color: #666;
  cursor: pointer;
}
/* line 43, ../sass/styles.scss */
#controls ul {
  margin: 0px;
  padding: 0px;
}
/* line 48, ../sass/styles.scss */
#controls li {
  list-style: none;
  float: left;
  padding: 5px;
}
/* line 54, ../sass/styles.scss */
#controls #pagination {
  float: right;
  margin-top: 10px;
}
/* line 58, ../sass/styles.scss */
#controls #pagination li a {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: url(../images/sprite_pagination.png) 0px 0px no-repeat;
  display: block;
}
/* line 66, ../sass/styles.scss */
#controls #pagination li.active a {
  background: url(../images/sprite_pagination.png) 0px -19px no-repeat;
}
